<template>
  <div>
    <div class="container">
      <!--Formulaire de création-->
      <form @submit.prevent="createComment" @keydown.ctrl.enter="createComment">

        <input aria-label="Commentaire"
               type="text" v-model="commentForm.message"
               placeholder="Écrire un commentaire...">
        <button type="submit" :disabled="!canSendForm" aria-label="Soumettre le commentaire">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"/>
          </svg>
        </button>
      </form>

      <!--Liste des commentaires-->
      <div v-for="comment in post.comments" v-bind:key="comment.id" class="comment">
        <div class="user">
          <p>{{ comment.user.firstName + ' ' + comment.user.lastName }}</p>
          <span>Il y'a 2 jours</span>
        </div>
        <p class="message">{{ comment.message }}</p>
        <div class="actions">
          <a @click="reportComment(comment.id)">Signaler</a>
          <a @click="deleteComment(comment.id)"
             v-if="comment.userId===auth.id || auth.role==='admin'">
            Supprimer
          </a>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  props: ['post'],
  name: "Comments",
  data() {
    return {
      auth: JSON.parse(this.$ls.get('auth')),
      commentForm: {
        'message': ''
      },
    }
  },
  computed: {
    canSendForm() {
      return this.commentForm.message.length > 1;
    },
  },
  methods: {
    createComment() {
      if (!this.canSendForm) {
        this.$toast.error('Veuillez écrire le commentaire!', {position: 'top-right'})
        return
      }
      this.commentForm.postId = this.post.id
      this.$http.post('/comment', this.commentForm, {
        headers: {
          'Authorization': 'Bearer ' + this.$ls.get('token')
        }
      }).then(res => {
        if (res.data.status === 'ok') {
          this.$root.$emit('commentCreated', this.post.id);
          this.post.comments.unshift(res.data.data);
          this.commentForm.message = '';
        }
      }).catch(err => {
        console.log(err);
      })
    },
    deleteComment(commentId) {
      this.$http.delete('/comment/' + commentId, {
        headers: {
          'Authorization': 'Bearer ' + this.$ls.get('token')
        }
      }).then(res => {
        if (res.data.status === 'ok') {
          this.$root.$emit('commentDeleted', commentId);
          this.$toast.success('Commentaire supprimé', {position: 'top-right'});
          this.post.comments = this.post.comments.filter(i => i.id !== commentId);
        }
      }).catch(err => {
        console.log(err);
      })
    },
    reportComment(commentId) {
      this.$http.post('/report', {
        commentId: commentId,
      }, {
        headers: {
          'Authorization': 'Bearer ' + this.$ls.get('token')
        }
      }).then(res => {
        if (res.data.status === 'ok') {
          this.$root.$emit('commentReported', commentId)
          this.$toast.success('Commentaire signalé', {position: 'top-right'});
        }
      }).catch(err => {
        console.log(err);
      })
    },
  }

}
</script>

<style lang="scss" scoped>
.container {
  background: #353a3e;
  color: #fff;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);

  form {

    input {
      height: 50px;
      padding: 0 15px;
      background: transparent;
      margin: 0;
      border: 0;
      border-bottom: 1px solid #4e4e4e;
      width: calc(100% - 82px);
      color: #fff;
      border-radius: 0;

      &:focus {
        outline: none;
        border-bottom: 1px solid #9a9a9a;
      }
    }

    button {
      height: 52px;
      width: 52px;
      background: #4e4e4e;
      color: #fff;
      border: 0;
      cursor: pointer;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      svg {
        height: 15px;
        margin: -2px;
      }
    }
  }

  .comment {
    //background: #fff;
    border-bottom: 1px solid #666666;
    margin: 5px 10px;
    padding: 10px;

    .user {
      p {
        display: inline-block;
        font-weight: bold;
        font-size: 1.3rem;
      }

      span {
        margin-left: 5px;
        font-size: .8rem;
      }
    }

    .message {
      color: #e0e0e0;
      font-size: 1.3rem;
      margin-top: 5px;
      margin-bottom: 5px;
      line-height: 1.2rem;
    }

    .actions {
      a {
        cursor: pointer;
        margin-right: 10px;
        font-size: .9rem;

        &:hover {
          color: red;
        }
      }
    }

    &:last-of-type {
      border: 0;
    }
  }
}


</style>