<template>
  <header>
    <nav class="navbar">
      <div>
        <img src="../img/icon-left-font.svg" alt="Logo de groupomania">
      </div>
      <div>
        <router-link to="/" class="home">
          Mon fil
        </router-link>
      </div>
      <div>
        <router-link to="/login" v-if="!this.auth">
          Connexion
        </router-link>
        <router-link to="/register" v-if="!this.auth">
          S'enregistrer
        </router-link>
        <router-link to="/reports" v-if="this.auth && this.auth.role==='admin'">
          Signalements
        </router-link>
        <a href="#" @click.prevent="logout" v-if="this.auth">Déconnexion</a>
        <a href="#" @click.prevent="deleteAccount" v-if="this.auth" class="delete">Supprimer mon compte</a>
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  name: "Navbar",
  data() {
    return {
      openedUserMenu: false,
      auth: null,
      listenerAuth: null,
    }
  },

  mounted() {
    if (this.$ls.get('token')) {
      this.loadUser()
    }

    this.listenerAuth = this.$root.$on("authChanged", (auth) => {
      this.auth = auth
    })
  },

  methods: {
    loadUser() {
      //Check if server accept user as authenticated
      this.$http.get('/auth/check', {
        headers: {
          'Authorization': 'Bearer ' + this.$ls.get('token')
        }
      }).then(res => {
        if (res.data === 'OK') {
          this.auth = JSON.parse(this.$ls.get("auth", null))
        } else {
          throw new Error();
        }
      }).catch(() => {
        this.$ls.remove("auth");
        this.$ls.remove("token");
        this.auth = null;
        this.$root.$emit('authChanged', null);
      })
    },
    logout() {
      this.$ls.remove("auth");
      this.$ls.remove("token");
      this.$root.$emit('authChanged', null);
      this.$router.push('/'); //Redirection page accueil
    },
    deleteAccount() {
      this.$http.delete('/user/' + this.auth.id, {
        headers: {
          'Authorization': 'Bearer ' + this.$ls.get('token')
        }
      }).then(() => {
        this.$ls.remove("auth");
        this.$ls.remove("token");
        this.$root.$emit('authChanged', null);
        this.$router.push('/'); //Redirection page accueil
      })
    },
  },
  beforeDestroy() {
    this.$root.$off(this.listenerAuth)
  }
}
</script>
<style lang="scss" scoped>
header {
  background-color: #141618;
  color: #696d71;
  border-bottom: 1px solid #696d71;

  .navbar {
    max-width: 1200px;

    padding: 1rem;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    @media (max-width: 720px) {
      flex-direction: column;
      div {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        z-index: 999;

        &:nth-of-type(2) {
          margin-top: 15px;
        }
      }
    }

    //Logo
    img {
      //width: 200px;
      margin: -1rem 0 -1rem 50px;
      height: 40px;
      transform: scale(4);
    }

    //Lien d'authentification
    a {
      padding: 5px;
      font-weight: bold;
      font-size: 1.2rem;
      line-height: 1.2rem;
      transition: all 0.5s;

      &:hover {
        //border-bottom: 1px solid #fff;
        color: #fff;
      }

      &.delete:hover {
        //border-bottom: 1px solid #fff;
        color: red;
      }

      &.active {
        font-weight: bold;
        color: #fff;
      }
    }
  }
}
</style>
