<template>
  <figure class="post-fig">
    <div class="img-container">
      <!--  Version avec image  -->
      <img :src="post.documentUrl" :alt="'Image du post '+post.name" class="post-image" v-if="post.documentUrl"/>
      <!--  Version sans image  -->
      <div class="no-image" v-else>
        <!-- Svg post -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"/>
        </svg>
      </div>
    </div>

    <!--  Informations  -->
    <div class="post-info">
        <span>
          <!--  Svg commentaire -->
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"/>
          </svg>
          {{ post.comments.length }}
        </span>
      <span>
          {{ post.user.firstName + ' ' + post.user.lastName | capitalize }}, le {{ post.createdAt | toHumanDate }}
        </span>
    </div>

    <figcaption class="post-figcaption">
      <h3>{{ post.name | capitalize | truncate(50) }}</h3>
    </figcaption>
  </figure>
</template>

<script>
export default {
  props: ['post'],
  name: "PostCard",
  data() {
    return {
      auth: JSON.parse(this.$ls.get('auth')),
      commentForm: {
        'message': null
      },
    }
  },

  mounted() {
    //console.log(this.post);
  },
  methods: {
    deletePost() {
      this.$http.delete('/post/' + this.post.id, {
        headers: {
          'Authorization': 'Bearer ' + this.$ls.get('token')
        }
      }).then(res => {
        if (res.data.status === 'ok') {
          this.$root.$emit('postDeleted', this.post.id)
          this.$destroy()
        }
      }).catch(err => {
        console.log(err);
      })
    },
    reportPost(postId) {
      this.$http.post('/report', {
        postId: postId,
      }, {
        headers: {
          'Authorization': 'Bearer ' + this.$ls.get('token')
        }
      }).then(res => {
        if (res.data.status === 'ok') {
          this.$root.$emit('postReported', postId)
        }
      }).catch(err => {
        console.log(err);
      })
    },
    createComment() {
      this.commentForm.postId = this.post.id
      this.$http.post('/comment', this.commentForm, {
        headers: {
          'Authorization': 'Bearer ' + this.$ls.get('token')
        }
      }).then(res => {
        if (res.data.status === 'ok') {
          this.$root.$emit('commentCreated', this.post.id);
          this.post.comments.unshift(res.data.data);
        }
      }).catch(err => {
        console.log(err);
      })
    },
    deleteComment(commentId) {
      this.$http.delete('/comment/' + commentId, {
        headers: {
          'Authorization': 'Bearer ' + this.$ls.get('token')
        }
      }).then(res => {
        if (res.data.status === 'ok') {
          this.$root.$emit('commentDeleted', commentId)
          this.post.comments = this.post.comments.filter(i => i.id !== commentId);
        }
      }).catch(err => {
        console.log(err);
      })
    },
    reportComment(commentId) {
      this.$http.post('/report', {
        commentId: commentId,
      }, {
        headers: {
          'Authorization': 'Bearer ' + this.$ls.get('token')
        }
      }).then(res => {
        if (res.data.status === 'ok') {
          this.$root.$emit('commentReported', commentId)
        }
      }).catch(err => {
        console.log(err);
      })
    },
  }

}
</script>

<style lang="scss">
.post-fig {
  width: 400px;
  height: 300px;
  max-width: 100vw;

  transition: all 0.3s;

  .img-container {
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    height: 75%;
    position: relative;

    .post-image, .no-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .no-image {
      background-color: #696969;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;

      svg {
        width: 56px;
        height: 56px;
      }
    }

    //Animation
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #000;
      z-index: 100;
    }
  }


  .post-info {
    opacity: 0.8;
    font-size: 1rem;
    line-height: 1rem;
    text-align: right;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    span:first-of-type {
      display: flex;
      align-items: center;

      svg {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 3px;
      }
    }

  }

  .post-figcaption {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.9rem;
    padding: 0 15px;

    h3 {
      display: inline;
      overflow-wrap: break-word;
      padding-bottom: 1px;
      background-image: linear-gradient(transparent calc(100% - 3px), #000 0px);
      background-repeat: no-repeat;
      background-size: 0 100%;
      transition: background-size 0.5s;
    }
  }

  //Underline animation + overlay on image + zoom
  &:hover {
    transform: scale(1.03);

    .post-figcaption h3 {
      background-size: 100% 100%;
    }

    .img-container::after {
      opacity: 0.3;
    }
  }

}

</style>