<template>
  <div class="modal-overlay" @click.self="openModal=false" v-show="openModal">
    <div class="modal">
      <div class="header">
        {{ (this.post) ? 'Modifier le post' : 'Créer un post' }}
        <button @click="openModal=false">X</button>
      </div>
      <div class="content">
        <form autocomplete="off" @keyup.ctrl.enter="submitForm" @keydown.esc="openModal=false">
          <label>
            Nom:
            <input type="text" v-model="form.name" ref="formmail" autocomplete="none"/>
          </label>
          <label>
            Contenu:
            <textarea v-model="form.content"></textarea>
          </label>

          <label>
            Image:
            <input type="file" @change="onFileChange"/>
          </label>
        </form>
      </div>
      <div class="footer">
        <button @click="submitForm" :disabled="!canSendForm">Publier ce post</button>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: "PostForm",
  props: {
    'open': {
      type: Boolean,
      default: false,
    },
    'post': {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      form: {
        name: '',
        content: '',
        image: null,
      },
    }
  },
  computed: {
    openModal: {
      get: function () {
        if (this.open === true) {
          this.$nextTick(() => this.$refs.formmail.focus())
        }
        return this.open
      },
      set: function (value) {
        // document.documentElement.style.overflow = (value) ? 'hidden' : 'auto';
        this.$emit('update:open', value)
        this.$forceUpdate()
      }
    },
    canSendForm() {
      return this.form.content.length > 15 && this.form.name.length > 5;
    }
  },
  beforeMount() {
    //On charge le post si il existe
    if (this.post) {
      this.form = {
        name: this.post.name,
        content: this.post.content,
        image: null,
      };
    }
  },
  methods: {
    submitForm() {
      if (!this.canSendForm) {
        this.$toast.error("Veuillez renseigner l'ensemble des champs requis", {
          position: 'top-right'
        });
        return false;
      }
      let formData = new FormData();

      formData.append("name", this.form.name);
      formData.append("content", this.form.content);
      if (this.form.image !== null) {
        formData.append("image", this.form.image);
      }

      if (!this.post) {
        this.$http.post('/post', formData, {
          headers: {
            'Authorization': 'Bearer ' + this.$ls.get('token'),
            "Content-Type": "multipart/form-data"
          }
        }).then(res => {
          if (res.data.status === 'ok') {
            this.$toast.success("Post ajouté", {
              position: 'top-right'
            });
            this.$root.$emit('postCreated')
          }
        }).catch(err => {
          console.log(err);
        })
      } else {
        this.$http.put('/post/' + this.post.id, formData, {
          headers: {
            'Authorization': 'Bearer ' + this.$ls.get('token'),
            "Content-Type": "multipart/form-data"
          }
        }).then(res => {
          if (res.data.status === 'ok') {
            this.$toast.success("Post modifié!", {
              position: 'top-right'
            });
            this.$root.$emit('postUpdated')
          }
        }).catch(err => {
          console.log(err);
        })
      }
      this.openModal = false;
    }
    ,
    onFileChange(e) {
      const files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;
      this.form.image = files[0];
    }
  },
}
</script>

<style lang="scss">
.modal-overlay {
  position: fixed;
  z-index: 999; //Over all content
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .7);
  transition: opacity .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    //width: 300px;
    background-color: #242526;
    color: #e4e6eb;
    border-radius: 20px;
    border: 1px solid #4e4e4e;
    overflow: hidden;

    .header {
      width: 100%;
      text-align: center;
      position: relative;
      font-weight: bold;
      font-size: 2rem;
      padding: 15px 0;
      border-bottom: 1px solid #4e4e4e;

      button {
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 0;
        background-color: #3a3b3c;
        color: #a8abaf;
        font-weight: bold;
        cursor: pointer;
        margin: 20px;

        &:hover {
          background-color: #47484b;
        }
      }
    }

    .content {
      margin: 15px;

      form {
        display: flex;
        flex-direction: column;
        color: #fff;

        label {
          margin-bottom: 15px;
          font-size: 1.2rem;

          input, textarea {
            color: #fff;
            width: calc(100% - 20px);
            background: #353a3e;
            margin: 0;
            border: 0;
            padding: 10px;
            border-radius: 10px;

            &:focus {
              outline: none;
              border-bottom: 1px solid #9a9a9a;
            }
          }

          input[type=file] {
            background: transparent;
          }

          textarea {
            height: 250px;
          }
        }
      }
    }

    .footer {
      border-top: 1px solid #4e4e4e;

      button {
        width: 100%;
        height: 100%;
        padding: 15px 0;
        border: none;
        font-weight: bold;
        border-radius: 0;
        cursor: pointer;
        background-color: #47484b;
        color: inherit;
        transition: all 0.3s;

        &:disabled {
          background-color: #505151;
          color: #939393;
          cursor: not-allowed;
        }

        &:hover, &:focus {
          background-color: #55575a;
        }
      }
    }
  }

}
</style>