<template>
  <div>
    404 ERROR
  </div>
</template>

<script>
export default {
  name: "404",
  metaInfo() {
    return {
      title: `Erreur 404 - Groupomania`,
    }
  },
}
</script>

<style scoped>

</style>