<template>
  <main v-if="this.post.createdAt">
    <keep-alive>
      <post-form :open.sync="openEditModal" :post="this.post"/>
    </keep-alive>
    <div class="bg-dark">
      <transition name="pop" appear>
        <section v-if="post" id="top">
          <h1 :class="{'w-50':post.documentUrl}">{{ post.name | capitalize }}</h1>
          <!--  Informations  -->
          <div class="post-info">
          <span>
            {{ post.user.firstName + ' ' + post.user.lastName | capitalize }}, le {{ post.createdAt | toHumanDate }}
          </span>
          </div>
          <div class="actions" :class="{'w-50':post.documentUrl}">
            <a @click="reportPost">Signaler</a>
            <a @click="openEditModal=!openEditModal" v-if="post.user.id===auth.id || auth.role==='admin'">
              Modifier le post
            </a>
            <a @click="deletePost" v-if="post.user.id===auth.id || auth.role==='admin'">Supprimer le post</a>
          </div>
        </section>
      </transition>
    </div>
    <div class="bg-white">
      <div id="main">
        <!--Image-->
        <figure class="img-container" v-if="post.documentUrl">
          <img :src="post.documentUrl" :alt="'Image du post '+post.name"/>
        </figure>
        <!--Contenu-->
        <transition name="slide-from-left" appear>
          <div v-html="this.htmlContent" class="markdown"></div>
        </transition>

        <comments :post="this.post" class="comments" :class="{'margin-image':post.documentUrl}"></comments>
      </div>
    </div>
  </main>

</template>

<script>
const marked = require("marked");
import Comments from '@/components/Comments';
import PostForm from '@/components/PostForm';

export default {
  name: "Post",
  metaInfo() {
    return {
      title: `${this.post.name} - Groupomania`,
      meta: [
        {
          name: 'description',
          content: this.post.content.slice(0, 140)
        },
      ]
    }
  },
  components: {
    Comments,
    PostForm
  },
  data() {
    return {
      auth: JSON.parse(this.$ls.get('auth')),
      commentForm: {
        'message': null
      },
      post: {
        name: "",
        content: "",
      },
      openEditModal: false,
      updatedListener: null,
    }
  },
  beforeMount() {
    this.loadPost();
    this.updatedListener = this.$root.$on('postUpdated', this.loadPost)
  },
  computed: {
    htmlContent() {
      return marked(this.post.content)
    }
  },
  methods: {
    loadPost() {
      this.$http.get('/post/' + this.$route.params.id, {
        headers: {
          'Authorization': 'Bearer ' + this.$ls.get('token')
        }
      }).then(res => {
        if (res.data && res.data.status === 'ok') {
          this.post = res.data.data

        }
      }).catch(err => {
        console.log(err);
      })
    },
    deletePost() {
      this.$http.delete('/post/' + this.post.id, {
        headers: {
          'Authorization': 'Bearer ' + this.$ls.get('token')
        }
      }).then(res => {
        if (res.data && res.data.status === 'ok') {
          this.$root.$emit('postDeleted', this.post.id)
          this.$toast.success("Post supprimé", {
            position: 'top-right'
          });
          this.$router.back();
          this.$destroy()
        }
      })
    },
    reportPost() {
      this.$http.post('/report', {
        postId: this.post.id,
      }, {
        headers: {
          'Authorization': 'Bearer ' + this.$ls.get('token')
        }
      }).then(res => {
        if (res.data && res.data.status === 'ok') {
          this.$toast.success('Le post a été signalé!', {position: 'top-right'})
          this.$root.$emit('postReported', this.post.id)
        }
      }).catch(err => {
        console.log(err);
      })
    }
  },
  beforeDestroy() {
    this.$root.$off(this.updatedListener);
  }

}
</script>
<style scoped>
.bg-dark {
  background-color: #141618;
  width: 100%;
}
</style>

<style lang="scss" scoped>
#top, #main {
  max-width: 1440px;
  margin: auto;
  display: flex;

}

//Partie haute titre,actions
#top {
  min-height: 200px;
  padding: 50px;
  justify-content: center;
  flex-direction: column;
  color: #fff;

  .w-50 {
    max-width: 55%;
    @media (max-width: 1440px) {
      max-width: 100%;
    }
  }

  h1 {
    font-size: 2.25rem;
    letter-spacing: -.03em;
    line-height: 1.25;
  }

  .post-info {
    max-width: 55%;
    font-style: italic;
    font-size: 1.15rem;
    margin-top: 2rem;
  }

  .actions {
    margin-top: 5px;
    text-align: right;

    a {
      cursor: pointer;
      margin-left: 10px;

      &:hover {
        color: red;
      }
    }
  }
}


//Partie haute (titre+image+details)
$image_height: 350px;
#main {
  position: relative;
  margin-top: 30px;
  padding: 0 25px;
  flex-flow: row wrap;

  @media (max-width: 1440px) {
    margin: 10px 0 0 0;
    padding: 0 10px;
  }

  //Responsive
  .img-container {
    position: absolute;
    top: -$image_height/4*3;
    right: 0;
    width: 40%;

    @media (max-width: 1440px) {
      position: inherit;
      width: 100%;
      height: $image_height;
      top: 0;
    }

    img {
      width: 100%;
      height: $image_height;
      object-fit: cover;
      border-radius: 15px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    }
  }

  //Contenu textuel
  div {
    white-space: pre-wrap;
    font-size: 1.25rem;
    flex: 1 1 55%;
    @media (max-width: 1440px) {
      margin-top: 15px;
    }
  }

  .comments {
    margin: 25px 25px;
    flex: 1 1 35%;
    height: fit-content;

    &.margin-image {
      margin-top: ($image_height/4 + 50px);
      @media (max-width: 1440px) {
        margin-top: 0;
      }
    }

    @media (max-width: 1440px) {
      margin: 0 -10px;
      flex: 1 1 100%;
    }
  }
}
</style>

<!--Style markdown-->
<style lang="scss">
#main div.markdown {
  ul {
    margin-left: 30px;
  }

  a {
    color: #d62419;

    &:hover {
      color: darkred;
    }
  }

  p code {
    background-color: #353a3e;
    font-style: italic;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8em;
  }

  pre {
    border-left: 1px solid grey;
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding: 10px 20px;
    margin-left: 10px;

    code {
      font-size: 0.8em;
    }
  }
}
</style>