<template>
  <div class="form-container">
    <form v-on:submit.prevent="sendForm">
      <label>
        Email:
        <input type="text" v-model="form.email" name="email" required>
      </label>

      <label>
        Mot de passe:
        <input type="password" v-model="form.password" name="password" required>
      </label>
      <span v-if="error">{{ error }}</span>
      <button type="submit">Se connecter</button>
    </form>
  </div>

</template>

<script>
export default {
  name: "Login",
  metaInfo() {
    return {
      title: "Se connecter - Groupomania",
      meta: [
        {
          name: 'description',
          content: 'Connectez-vous au réseau social interne de Groupomania.'
        },
      ]
    }
  },
  data() {
    return {
      form: {
        email: null,
        password: null,
      },
      error: null
    }
  },
  methods: {
    sendForm() {
      this.$http.post('/auth/login', this.form).then(res => {
        //On se connecte si réponse Ok
        if (res.data.data) {
          this.$ls.set("token", res.data.data.token)
          this.$ls.set("auth", JSON.stringify(res.data.data.user))
          this.$root.$emit('authChanged', res.data.data.user);
        }
        this.$router.push('/'); //Redirection page accueil
      }).catch(err => {
        if (err.response.status === 400) {
          this.error = "Mauvais identifiants!";
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    background-color: #232323;
    border-radius: 15px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    color: #fff;

    label {
      margin-bottom: 15px;
      font-size: 1.2rem;

      input {
        color: #fff;
        width: calc(100% - 20px);
        background: #353a3e;
        margin: 5px 0 0 0;
        border: 0;
        padding: 10px;
        border-radius: 10px;

        &:focus {
          outline: none;
          border-bottom: 1px solid #9a9a9a;
        }
      }
    }

    button {
      width: 100%;
      height: 100%;
      padding: 15px 0;
      margin-top: 15px;
      border: none;
      font-weight: bold;
      cursor: pointer;
      background-color: #47484b;
      color: inherit;
      transition: all 0.3s;
      border-radius: 15px;

      &:hover, &:focus {
        background-color: #55575a;
      }
    }
  }
}
</style>