<template>
  <div class="form-container">
    <form v-on:submit.prevent="sendForm">
      <label>
        Prénom:
        <input type="text" v-model="form.firstName" name="firstname" required>
      </label>
      <span v-if="errors.firstName">{{ errors.firstName }}</span>
      <label>
        Nom:
        <input type="text" v-model="form.lastName" name="lastname" required>
      </label>
      <span v-if="errors.lastName">{{ errors.lastName }}</span>

      <label>
        Email:
        <input type="text" v-model="form.email" name="email" required>
      </label>
      <span v-if="errors.email">{{ errors.email }}</span>

      <label>
        Mot de passe:
        <input type="text" v-model="form.password" name="password" required>
      </label>
      <span v-if="errors.password">{{ errors.password }}</span>
      <button type="submit">S'enregistrer</button>
    </form>
  </div>

</template>

<script>
export default {
  name: "Register",
  metaInfo() {
    return {
      title: "S'enregistrer - Groupomania",
      meta: [
        {
          name: 'description',
          content: 'Créer un compte pour intégrer le réseau social interne de Groupomania.'
        },
      ]
    }
  },
  data() {
    return {
      form: {
        firstName: null,
        lastName: null,
        email: null,
        password: null,
      },
      errors: {}
    }
  },
  methods: {
    sendForm() {
      this.$http.post('/auth/signup', this.form).then(res => {
        //On se connecte si réponse Ok
        if (res.data.data) {
          this.$http.post('/auth/login', this.form).then(res => {
            if (res.data.data) {
              this.$ls.set("token", res.data.data.token)
              this.$ls.set("auth", JSON.stringify(res.data.data.user))
              this.$root.$emit('authChanged', res.data.data.user);
            }
            this.$router.push('/'); //Redirection page accueil
          }).catch(err => {
            alert(err)
          })
        }
      }).catch(err => {
        if (err.response.status === 400) {
          let errors = err.response.data.errors;
          //Mise aux normes de erreurs
          Object.keys(errors).map(function (key) {
            if (key.startsWith('users.')) {
              errors[key.replace('users.', '')] = errors[key].replace('users.', '');
              delete errors[key]
            }
          });
          this.errors = errors ?? {}
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    background-color: #232323;
    border-radius: 15px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    color: #fff;

    label {
      margin-bottom: 15px;
      font-size: 1.2rem;

      input {
        color: #fff;
        width: calc(100% - 20px);
        background: #353a3e;
        margin: 5px 0 0 0;
        border: 0;
        padding: 10px;
        border-radius: 10px;

        &:focus {
          outline: none;
          border-bottom: 1px solid #9a9a9a;
        }
      }
    }

    button {
      width: 100%;
      height: 100%;
      padding: 15px 0;
      margin-top: 15px;
      border: none;
      font-weight: bold;
      cursor: pointer;
      background-color: #47484b;
      color: inherit;
      transition: all 0.3s;
      border-radius: 15px;

      &:hover, &:focus {
        background-color: #55575a;
      }
    }
  }
}
</style>