.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.pop-enter-active {
  animation: pop-in .3s;
}

.pop-leave-active {
  animation: pop-in .3s reverse;
}

@keyframes pop-in {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.slide-from-left-enter-active {
  animation: slide-from-left-in .5s;
}

.slide-from-left-leave-active {
  animation: slide-from-left-in .5s reverse;
}

@keyframes slide-from-left-in {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}