<template>
  <main>
    <h1>Signalements</h1>
    <table>
      <thead>
      <tr>
        <th>Status</th>
        <th>Type</th>
        <th>Contenu</th>
        <th>Signalé par</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="report in reports" v-bind:key="report.id">
        <th>{{ (report.verified) ? 'Vérifié' : 'En attente' }}</th>
        <th>{{ (report.postId) ? 'Post' : 'Commentaire' }}</th>
        <th>
          <router-link :to="'/post/'+report.postId" v-if="report.postId"> Voir le post</router-link>
          <span v-if="report.commentId">{{ report.comment.message }}</span>
        </th>
        <th>{{ report.user.firstName }} {{ report.user.lastName }}</th>
        <th>
          <button @click="deleteReport(report)" class="red">Supprimer</button>
          <button @click="approveReport(report)" class="green" v-if="!report.verified">Approuver</button>
        </th>
      </tr>
      <tr v-if="reports.length===0">
        <th colspan="5">Aucun signalement disponible</th>
      </tr>
      </tbody>
    </table>
  </main>
</template>

<script>
export default {
  name: "List",
  metaInfo() {
    return {
      title: "Signalements - Groupomania",
      meta: [
        {
          name: 'description',
          content: 'Accédez aux signalements fait par les utilisateurs sur le réseau social interne de Groupomania.'
        },
      ]
    }
  },
  data() {
    return {
      reports: [],
      loadedComments: []
    }
  },
  mounted() {
    this.loadReports();
  },
  methods: {
    loadReports() {
      this.$http.get('/report', {
        headers: {
          'Authorization': 'Bearer ' + this.$ls.get('token')
        }
      }).then(res => {
        this.reports = res.data.data.rows;

      }).catch(err => {
        console.log(err);
      })
    },
    deleteReport(report) {
      if (report.commentId) {
        this.$http.delete('/comment/' + report.commentId, {
          headers: {
            'Authorization': 'Bearer ' + this.$ls.get('token')
          }
        }).then(() => {
          this.$toast.success('Commentaire supprimé', {position: 'top-right'})
          this.loadReports()
        }).catch(err => {
          console.log(err);
        })
      } else if (report.postId) {
        this.$http.delete('/post/' + report.postId, {
          headers: {
            'Authorization': 'Bearer ' + this.$ls.get('token')
          }
        }).then(() => {
          this.$toast.success('Post supprimé', {position: 'top-right'})
          this.loadReports()
        }).catch(err => {
          console.log(err);
        })
      }
    },
    approveReport(report) {
      this.$http.put('/report/' + report.id, {verified: true}, {
        headers: {
          'Authorization': 'Bearer ' + this.$ls.get('token')
        }
      }).then(() => {
        this.loadReports()
        this.$toast.success('Le signalement a bien été mis à jour', {position: 'top-right'})
      }).catch(err => {
        console.log(err);
      })
    }
  },

}
</script>

<style lang="scss" scoped>
h1 {
  margin-top: 15px;
}

table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  overflow: hidden;
  margin: 25px auto;

  th, td {
    padding: 12px 15px;
  }

  thead tr {
    background-color: #3d3f42;
    color: #ffffff;
    text-align: left;
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;

    &:nth-of-type(even) {
      background-color: #f3f3f3;
    }

    &:last-of-type {
      border-bottom: 2px solid #3d3f42;
    }
  }

  button {
    border: 0;
    margin-left: 5px;
    cursor: pointer;

    &.red {
      color: red;

      &:hover {
        color: darkred;
      }
    }

    &.green {
      color: green;

      &:hover {
        color: darkgreen;
      }
    }
  }
}
</style>