<template>
  <main>
    <keep-alive>
      <post-form :open.sync="openModal"/>
    </keep-alive>
    <section id="posts">
      <h2>
        Liste des posts
        <button @click="openModal=!openModal">+ Nouveau</button>
      </h2>
      <transition name="fade" v-for="post in this.posts" :key="'post-'+post.id" appear>
        <router-link :to="'/post/'+post.id">
          <post-card :post="post"></post-card>
        </router-link>
      </transition>
    </section>

  </main>
</template>

<script>
import PostCard from '../../components/PostCard.vue';
import PostForm from '../../components/PostForm.vue';

export default {
  name: "WelcomePage",
  components: {
    PostCard,
    PostForm
  },
  data() {
    return {
      posts: [],
      eventPostCreated: null,
      eventPostDeleted: null,
      openModal: false,
    }
  },
  mounted() {
    this.loadPosts();
    this.eventPostCreated = this.$root.$on('postCreated', this.loadPosts);
    this.eventPostCreated = this.$root.$on('authChanged', this.$forceUpdate);
    this.eventPostDeleted = this.$root.$on('postDeleted', (postId) => {
      this.posts = this.posts.filter(el => el.id !== postId);
    });
  },
  methods: {
    loadPosts() {
      this.$http.get('/post', {
        headers: {
          'Authorization': 'Bearer ' + this.$ls.get('token')
        }
      }).then(res => {
        this.posts = res.data.data.rows;
        console.log(this.posts)
      }).catch(err => {
        console.log(err);
      })
    }
  },
  beforeDestroy() {
    this.$root.$off(this.eventPostDeleted);
    this.$root.$off(this.eventPostCreated);
  }
}
</script>

<style lang="scss">
#posts {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: auto;
  justify-content: center;

  h2 {
    font-size: 2rem;
    text-align: left;
    flex-basis: 100%;
    margin: 50px 0 30px 0;
    display: flex;

    button {
      border: 0;
      margin: 0;
      background-color: #5f5f5f;
      color: #fff;
      padding: 10px 15px;
      margin-left: 10px;
      cursor: pointer;

      &:hover, &:focus {
        background-color: #404040;
        color: #fff;
      }
    }
  }


  a {
    margin: 25px 25px;
  }
}
</style>