<template>
  <div id="app bg-white">
    <vue-progress-bar></vue-progress-bar>
    <keep-alive>
      <navbar></navbar>
    </keep-alive>
    <keep-alive>
      <router-view :key="$route.fullPath"/>
    </keep-alive>
  </div>
</template>
<script>
import Navbar from './components/Navbar';

export default {
  components: {
    Navbar,
  },
  mounted() {
    this.$Progress.finish()
    //Initialisation progressbar with axios
    this.$http.interceptors.request.use(config => {
      this.$Progress.start();
      return config;
    });
    this.$http.interceptors.response.use(response => {
      this.$Progress.finish();
      return response;
    }, error => {
      this.$Progress.fail();
      this.$toast.error(error.message, {
        position: 'top-right'
      });
      if (error.response.status === 404) {
        this.$router.push('/404');
      }
      return error;
    });
  },
  created() {
    //Initialisation progressbar vue router
    this.$Progress.start()
    this.$router.beforeEach((to, from, next) => {
      if (to.meta.progress !== undefined) {
        let meta = to.meta.progress
        this.$Progress.parseMeta(meta)
      }
      this.$Progress.start()
      next()
    })
    // eslint-disable-next-line no-unused-vars
    this.$router.afterEach(() => {
      this.$Progress.finish()
    })
  }
}
</script>
<style src="./css/base.scss" lang="scss"></style>