<template>
  <welcome-page v-if="this.auth"></welcome-page>
  <div v-else>
    <h1>Veuillez vous connecter</h1>
  </div>
</template>

<script>
import WelcomePage from './Home/WelcomePage.vue';

export default {
  name: 'Home',
  metaInfo() {
    return {
      title: "Réseau social interne - Groupomania",
      meta: [
        {
          name: 'description',
          content: 'Réseau social interne pour les employés de Groupomania, interagissez avec vos collègues.'
        },
      ]
    }
  },
  components: {
    WelcomePage
  },
  data() {
    return {
      auth: null,
    }
  },

  beforeMount() {
    this.loadUser();
  },

  mounted() {
    this.listenerAuth = this.$root.$on("authChanged", (auth) => {
      this.auth = auth;
    })
  },

  methods: {
    loadUser() {
      this.auth = this.$ls.get("auth", null)
    },
  },

  beforeDestroy() {
    this.$root.$off(this.listenerAuth)
  }

}
</script>

<style>
h1 {
  width: 100%;
  text-align: center;
}
</style>